$fluttershyThemeColor1: teal;
$fluttershyThemeColor2: #005067;
$fluttershyThemeColor3: #fcfbd2;
$fluttershyThemeColor4: #fcfbb3;

$twilightThemeColor1: #8100cc;
$twilightThemeColor2: #400080; 
$twilightThemeColor3: #fcb3dd;
$twilightThemeColor4: #c2e8ff;

$celestiaThemeColor1: #f4d6e8;
$celestiaThemeColor2: #9f5bbb;
$celestiaThemeColor3: #fef8d5; /* светло-желтый*/  
$celestiaThemeColor4: #6e3b7f;
$celestiaThemeColor5: #ffe292;

$lunaThemeColor1: #dbe9ff;
$lunaThemeColor2: #07023e;
$lunaThemeColor3: #2c4084;
$lunaThemeColor4: #9694ff;
$lunaThemeColor5: #bfd7ff;
$lunaThemeColor6: #463a8a;

$baseTransition: 0.3s;